{
  "presets": [
    "babel-preset-philpl"
  ],
  "ignore": [
    "/node_modules/"
  ],
  "plugins": [
    "transform-runtime",
    "transform-react-constant-elements",
    "transform-react-inline-elements"
  ],
  "env": {
    "commonjssimple": {
      "plugins": [
        ["transform-es2015-modules-commonjs-simple", {
          "noMangle": true,
          "addExports": true
        }]
      ]
    }
  }
}
