language: node_js

node_js:
  - '6'

install: ./scripts/install.sh

script: ./scripts/build.sh

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: example/dist
  on:
    tags: true
